@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 @font-face {
    font-family: 'Miama Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Miama Regular'), url('../font-family/Miama-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Miama';
    font-style: normal;
    font-weight: normal;
    src: local('Miama'), url('../font-family/Miama.woff') format('woff');
}

*{
    margin: 0px;
    padding: 0px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/***** Section shared *****/  
:root{
    --primary-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(255, 255, 255, 0.5);
    --highlighter-color: rgba(230, 83, 60, 1);
}
.shared-des{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.shared-btn{
    /* Button */
    width: 224px;
    height: 54px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: #000;

}
.btn-txt{
    /* Join Club Now! */
    width: 131px;
    height: 22px;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}
.shared-title{
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
}
/***** End Section shared *****/
body{
    font-size: 16px;
    font-family: Inter;
    background: rgba(0, 0, 0, 1);
    /* border: 2px solid red; */
}
/***** Section header *****/ 
.hero-section{
    /* Frame 7 */
    max-width: 1440px;
    height: 715px;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background: linear-gradient(180.00deg, rgba(17.411699295043945, 17.411699295043945, 17.411699295043945, 1),rgba(119.41169738769531, 119.41169738769531, 119.41169738769531, 0) 100%);
}
nav{
    width: 1060px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 463px;
}
.h1, div, span{
    padding: 0px;
    margin: 0px;
}
.navbar{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    margin: 57px 190px 0px 190px;
}
nav .nav-links ul{
    width: 465px;
    height: 46px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 47px;
    padding: 4px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    width: 64px;
    height: 22px;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}
.nav-title{
    width: 132px;
    height: 43px;
    color: var(--highlighter-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0%;
    
}
.nav-links{
    /* Frame 2 */
    width: 465px;
    height: 46px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 47px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul li:first-child{
    width: 60px;
    height: 25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: var(--highlighter-color);
    /* margin-left: 0px; */
}
.nav-links ul li:last-child{
    /* Frame 5 */
    width: 92px;
    height: 22px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 20px 0px 20px;
}
.hero-body{
    width: 1060px;
    margin: 96px 0px 0px 190px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 87.95px;
}
.hero-body-info{
    /* Frame 38 */
    width: 599.05px;
    height: 440px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 28px;
}
.hero-body-title{
    width: 520px;
    height: 282px;
    color: var(--primary-color);
    
}
.hero-body-title .hero-title{
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0%;
    line-height: 94px;

}
.title-spacial{
    font-family: Miama;
    font-weight: 400;
    font-size: 150px;
    line-height: 40px;
    
}
.hero-info-des{
    width: 520px;
    height: 48px;
    text-align: left;
}
.hero-info-btn{
        /* Frame 9 */
    width: 462px;
    height: 54px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
}
.join-btn{
    background: rgba(230, 83, 60, 1);
    border: none;
}
.download-btn{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);                                 
}
.hero-body-profile{
    /* Images 2 */
    width: 349px;
    height: 580px;
}
.video-tutorial{
    /* Group 24 */
    width: 206px;
    height: 217.39px;

    margin-left: -120px;
    margin-top: -280px;

}
.free-videos{
    /* Group 76 */
    position: relative;
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 16px 17px 16px 24px;

    margin-left: 230px;
    margin-top: -400px;
    background: rgba(255, 255, 255, 0.1);

}
#video-count{
    width: 116px;
    height: 40px;
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}
#video-title{
    width: 193px;
    height: 20px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}
.btn-icon{
    /* Group 21 */
    width: 40px;
    height: 189.39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0px 0px 23px 28px;
}
.polygon{
    /* Polygon 1 */
    width: 14.63px;
    height: 20px;
    color: rgba(250, 250, 249, 1);
}
.ellips{
    /*Ellipse2*/
    width: 40px;
    height: 40px;
    background: rgba(230, 83, 60, 1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.video-tutorial-about{
/* Rectangle 17 */
    position: relative;
    z-index: -1;
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);

    margin-top: -95px;
    padding: 20px 23px 20px 75px;

}
.hero-img{
    position: relative;
    z-index: -2;
}
/***** End Section header *****/

/***** Section responsive for medium and small display *****/  
@media screen and (min-width:577px) and (max-width:992px) {
    .hero-section{
        /* Frame 7 */
        /* max-width: 744px;
        height: auto; */
        /* width: auto; */
        /* height: 1285px; */
        max-width: 992px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        gap: 0px;
    }
    .hero-body{  
        height: auto;
        width: auto;
        flex-direction: column;
        margin: 75px 72.95px 0px 72px;
        justify-content: center;
        align-items: center;
    }
    nav{ 
        width: auto;
        gap: 180px;
    }
    .navbar{
        margin: 52px 30px 0px;
    }
    .nav-links{
        width: 358px;
        gap: 0px;
    }
    nav .nav-links ul{
        gap: 10px;
    }
    
    .nav-links ul li{
        width: 57px;
        /* height: 19px; */
    }
    .hero-body{
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-body-profile{
        height: auto;
        width: auto;
    }
    
}
/***** End Section responsive medium and small display *****/

/***** Section Habits *****/  
.habit{
    max-width: 1044px;
    height: 452px;
    margin: 0px auto;
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habits{
    width: 671px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    /* border: 2px solid rebeccapurple; */
    margin-bottom: 100px;
}
.habits-info{
    width: 671px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 58px;
}
.habits-title{
    width: 476px;
    height: 58px;
    text-align: center;
}
.habits-des{
    width: 671px;
    height: 48px;
    font-size: 14px;    
}
.habits-cards{
    width: 1044px;
    height: 274px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    
}
.habits-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habits-card-img{
    /*image3*/
    width: 180px;
    height: 180px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
}
.habits-card-title{
    /* Movement */
    width: 110px;
    height: 22px;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    /* line-height: 0px; */
    letter-spacing: 0%;
    text-align: center;
}
.habits-card-des{
    /* We believe fitness should be accessible to everyone */
    margin-top: 6px;
    width: 231px;
    height: 36px;
    font-size: 14px;
    text-align: center;

}

/***** End Section Habits *****/
/***** Section responsive for medium and small display *****/  
@media screen and (min-width:577px) and (max-width:992px) {
    .habit{
        max-width: 566px;
        height: auto;
        margin: 0px auto;
        margin-top: 750px;
        margin-bottom: 300px;
    }
    .habits-info{
        margin-bottom: 58px;
    }
    .habits-des{
        width: 475px;
        height: 48px;
    }
    .habits-cards{
        width: 566px;
        height: 588px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}
/***** End Section responsive medium and small display *****/

/***** Section run *****/  
.run{
    /* Frame 27 */
    max-width: 1060px;
    height: 371px;
    margin: 0px auto;
    border-radius: 18px;
    background: rgba(34, 34, 34, 1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 165px;

    margin-bottom: 100px;
}
.run-about{
    /* Frame 40 */
    width: 443px;
    height: 290px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 41px 0px 40px 54px;
}
.run-about-title{
    /* Run an Extra Mile Easily */
    width: 443px;
    height: 116px;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: left;
}
.run-about-des{
    /* Run an Extra Mile Easily */
    width: 443px;
    height: 72px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: var(--secondary-color);
    margin-top: 10px;
}
.run-about-btn{
    margin-top: 34px;
    width: 224px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 16px 40px 16px 40px;
    background-color: var(--highlighter-color);
    border: none;
}
.run-btn-txt{
    width: 81px;
    height: 22px;
}
.run-profile img{
    /* Rectangle 22 */
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 30px 32px 29px 0px;

}
/***** End Section run *****/
/***** Section responsive for medium and small display *****/  
@media screen and (min-width:577px) and (max-width:992px) {
    .run{
        max-width: 684px;
        height: 400px;
        margin: 0px auto;
        gap: 68px;
        margin-bottom: 100px;
    }
    .run-about{
        width: 263px;
        height: 308px;
        margin: 46px 0px 46px 54px;
    }
    .run-about-title{
        width: 263px;
        height: 86px;
        font-size: 36px;
    }
    .run-about-des{
        width: 263px;
        height: 120px;
        font-size: 14px;
        margin-top: 30px;
    }
    .run-profile img{
        width: 256px;
        height: 319px;
       
        margin: 40px 43px 41px 0px;
}
}
/***** Section Training *****/  
.training{
    /* Frame 37 */
    max-width: 1060px;
    height: 581px;
    margin: 0px auto;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 58px;
    margin-bottom: 120px;
}
.training-about{
    /* Frame 8 */
    width: 671px;
    height: 120px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* gap: 14px; */
}
.training-about-title{
    width: 573px;
    height: 58px;
    
}
.training-about-des{
    width: 671px;
    height: 48px;
}
.training-frame{
    width: 1060px;
    height: 403px;
    background: rgba(34, 34, 34, 1);
    margin-bottom: 88px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
    "one two two three"
    "four four five six"
}

.item1{
    /* image 8 */
    background: rgba(6, 255, 210, 0.5);
    grid-area: one;
}
.item2{
    /* image 6 */
    background: rgba(255, 0, 0, 0.3);
    grid-area: two;
}
.item3{
  /* image 11 */
    background: rgba(0, 0, 0, 0.5);
    grid-area: three;
}
.item4{
    /* image 7 */
    background: rgba(0, 0, 0, 0.5);
    grid-area: four;
}
.item5{
    /* image 10 */
    background: rgba(66, 255, 0, 0.3);
    grid-area: five;
}
.item6{
    /* image 9 */
    background: rgba(0, 71, 255, 0.3);
    grid-area: six;
}
.item1 > img{
    height: 100%;
    width: 100%;
}
.item2 > img{
    height: 100%;
    width: 100%;
    
}
.item3 > img{
    height: 100%;
    width: 100%;
}
.item4 > img{
    height: 100%;
    width: 100%;
}
.item5 > img{
    height: 100%;
    width: 100%;
}
.item6 > img{
    height: 100%;
    width: 100%;
}

/***** End Section Training *****/
/***** Section responsive for medium and small display *****/  
@media screen and (min-width:577px) and (max-width:992px) {
    .training{
        max-width: 684px;
        height: 581px;
        margin: 0px auto;
    }
    .training-frame{
        width: 684px;
        height: 403px;
    }
}
/***** End Section responsive for medium and small display *****/
/***** Section BMI *****/  
.bmi{
    /* Frame 8 */
    /* margin-top: 5000px; */
    max-width: 671px;
    height: 120px;
    margin: 0px auto;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 150px;
}
.bmi-title{
    width: 353px;
    height: 58px;
}
.bmi-des{
    width: 671px;
    height: 48px;
}
/***** End Section BMI *****/
/***** Section responsive for medium and small display *****/  
@media screen and (min-width:577px) and (max-width:992px) {
    .bmi{
        /* Frame 8 */
        max-width: 595px;
        height: 120px;
        margin: 0px auto;
    }
    .bmi-des{
        width: 595px;
    }
    
}
/***** End Section responsive for medium and small display *****/
/***** Section BMI chart and Calculation *****/  
.bmi-chart-calculator{
    max-width: 1440px;
    height: 487px;
    margin: 0px auto;
    background: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 175px;
    margin-bottom: 100px;
}
.bmi-chart{
    width: 443px;
    height: 400px;
}
.bmi-chart-title{
    width: 443px;
    height: 34px;
    font-size: 28px;
    margin: 52px 0px 0px 187px;
    text-align: left;
}
.bmi-chart-table{
    width: 310px;
    height: 216px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    margin: 52px 0px 0px 187px;
}
table {
  border-collapse: collapse;
  
}
th{
    color: var(--primary-color);
}
td{
    color: var(--secondary-color);
}
th, td{
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 18px;
    /* margin: ; */
}
.bmi-calculator{
    /* Frame 40 */
    width: 577px;
    height: 386px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 34px;
    margin: 49px 189px 52px 0px;
}
.bmi-calculator-about{
    /* Frame 8 */
    width: 577px;
    height: 96px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 14px;
}
.bmi-calculator-about-title{
    width: 443px;
    height: 34px;
    font-size: 28px;
    text-align: left;
}
.bmi-calculator-about-des{
    width: 577px;
    height: 48px;
}
form legend{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
    flex-wrap: wrap;
}
form legend input{
    /* Button */
    width: 253px;
    height: 30px;
    /* Auto layout */
    border-radius: 8px;
    border: none;
    padding: 12px 40px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
}
form legend input:last-child{
    width: 577px;
}
.claculator-btn{
    width: 224px;
    height: 54px;
    background-color: var(--highlighter-color);
    border: none;
    /* margin-top: 34px; */
}
.claculator-btn span{
    width: 83px;
    height: 22px;
    color: rgba(255, 255, 255, 1);

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}
/***** End Section BMI chart and Calculation *****/
/***** Section responsive for medium and small display *****/  
@media screen and (min-width:577px) and (max-width:992px) {
    .bmi-chart-calculator{
        max-width: 744px;
        height: 816px;
        margin: 0px auto;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        gap: 32px;
        margin-bottom: 100px;
    }
    .bmi-chart-title,
    .bmi-chart-table{
        margin: 34px 271px 0px 30px;
    }
    .bmi-calculator{
        margin: 0px 30px 38px 30px;
    }
    
}
/***** End Section responsive for medium and small display *****/

/***** Section Our Team *****/  
.our-team{
   /* Frame 52 */
    max-width: 1060px;
    height: 782px;
    margin: 0 auto;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 58px; 
}
.our-team-about{
    /* Frame 38 */
    width: 671px;
    height: 120px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}
.our-team-title{
    /* Meet Our Team */
    width: 364px;
    height: 58px;
}
.our-team-des{
    width: 671px;
    height: 48px;
}
.our-team-cards{
    width: 1060px;
    height: 604px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 100px;
}
.out-team-card-img{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    filter: grayscale(30%), contrast(20%);
    -webkit-filter: grayscale(30%), contrast(20%);
    position: relative;
    z-index: -1;
}
.card-img-about{
    /* Frame 62 */
    width: 59px;
    height: 44px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;

    margin-top: -60px;
    margin-left: 18.67px;
}
.name{
    width: 209px;
    height: 24px;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 900;
    /* line-height: 0px; */
    /* letter-spacing: 0%; */
    text-align: left;
}
.designation{
    /* Trainer */
    width: 47px;
    height: 17px;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

/***** End Section Our Team *****/
/***** Section responsive for medium and small display *****/  
@media screen and (min-width:577px) and (max-width:992px) {
    .our-team{
         max-width: 680px;
         margin: 0 auto;
         gap: 54px;
         margin-bottom: 100px;
    }
    .our-team-cards{
        width: 677px;
        height: 604px;
    }
    .out-team-card-img{
        width: 199px;
        height: 272px;
    }
    .name{
        width: 148px;
        height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}
/***** End Section responsive for medium and small display *****/